(defpackage :#(quickapp:get-project)
            (:use :cl)
            (:use :#(quickapp:get-utils))
            (:export :-main))

(in-package :#(quickapp:get-project))

(defun -main (&optional args)
  (format t "~a~%" "I don't do much yet"))

